{% comment %} required meta tags {% endcomment %}

<meta charset="utf-8">
<base href="{{ request.get_host }}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="format-detection" content="telephone=yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="{% if page_title %} {{ page_title }} {% else %} {{ site_title }} {% endif %}">
<meta name="description" content="{% if object.post_content %} {{ object.post_content }} {% else %} {{ site_description }} {% endif %}">

<meta name="distribution" content="Global">
<meta name="revisit-after" content="5 days">
<meta name="robots" content="follow, all">
<meta name="keywords" content="{% if object.post_keyword %} {{ object.post_keyword }} {% else %} {{ site_keywords }} {% endif %}">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@flavien_hugs">
<meta name="twitter:title" content="{% if page_title %} {{ page_title }} {% else %} {{ site_title }} {% endif %}">
<meta name="twitter:description" content="{% if object.post_content %} {{ object.post_content }} {% else %} {{ site_description }} {% endif %}">
<meta name="twitter:image" content="">
<meta name="twitter:image:alt" content="{{ site_title }}">

<meta property="og:site_name" content="{{ site_title }}">
<meta property="og:title" content="{% if page_title %} {{ page_title }} {% else %} {{ site_title }} {% endif %}">
<meta property="og:description" content="{% if object.post_content %} {{ object.post_content }} {% else %} {{ site_description }} {% endif %}">
<meta property="og:type" content="article">
<meta property="og:image" content="">
<meta property="og:image:alt" content="image/png">
<meta property="og:url" content="{{ request.get_host }}">
<meta property="og:image:type" content="image/png">
<meta property="og:locale" content="fr_CI">

<link rel="shortcut icon" href="">
<link rel="canonical" href="{{ request.get_host }}">
